[Unit]
Description=Backend Service

[Service]
User=root
StandardOutput=file:/var/log/interview-backend.log
StandardError=file:/var/log/backend_error.log
WorkingDirectory=/app/tech-interview-quest/app/
Restart=on-failure
ExecStart=/usr/bin/python3 /app/tech-interview-quest/app/broken_backend.py

[Install]
WantedBy=multi-user.target
