[Unit]
Description=Backend Service

[Service]
User=root
WorkingDirectory=/app/tech-interview-quest/app/
ExecStart=/usr/bin/python3 /app/tech-interview-quest/app/broken_backend.py
StandardOutput=append:/var/log/interview-backend.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
